# Data Science and Ecosystem

## In this Notebook, Data Science Tools and Ecosystem are summarized

 ## **Objectives:**
 
 #### - List Popular Languages for Data Science
 #### - List Commonly Used Libraries in Data Science
 #### - List popular tools for Data Science
 #### - Introduce basic functions

## Some of the popular languages that data Scientists use are:
#### 1. R  
#### 2. C/C++ 
#### 3. JAVA
#### 4. PYTHON

## Some of the commonly used libraries are:
#### 1.Pandas
#### 2. PyTorch
#### 3. Tensorflow
#### 4. NumPy
#### 5. Keras


## ***Data Science Tools***
 ### *RStudio* 
 ### *TensorFlow* 
 ### *Apache Spark*

## Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
 (25 + 5) * 3

90

In [2]:
 (34 - 6) + 18

46

In [3]:
18 + 23 - 10

31

In [5]:
(78 - 34) * 23

1012

## This is a simple arithmetic expression to multiply then add integers:

In [6]:
(3*4)+5

17

## This will convert 200 minutes to hours by dividing by 60:

In [7]:
 200/60

3.3333333333333335

## Author 
#### Maria Tsekoura